<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>name</key>
            <string>Restaurant</string>
            <key>value</key>
            <string>01</string>
            <key>search</key>
            <string>restaurant</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Cafe</string>
            <key>value</key>
            <string>02</string>
            <key>search</key>
            <string>cafe</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Airport</string>
            <key>value</key>
            <string>03</string>
            <key>search</key>
            <string>airport</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Park</string>
            <key>value</key>
            <string>04</string>
            <key>search</key>
            <string>park</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Night Club</string>
            <key>value</key>
            <string>05</string>
            <key>search</key>
            <string>night_club</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Bar</string>
            <key>value</key>
            <string>06</string>
            <key>search</key>
            <string>bar</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Stadium</string>
            <key>value</key>
            <string>07</string>
            <key>search</key>
            <string>stadium</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Bowling Alley</string>
            <key>value</key>
            <string>08</string>
            <key>search</key>
            <string>bowling_alley</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Movie Theater</string>
            <key>value</key>
            <string>09</string>
            <key>search</key>
            <string>movie_theater</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Lodging</string>
            <key>value</key>
            <string>10</string>
            <key>search</key>
            <string>lodging</string>
        </dict>
    </array>
</plist>
