<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>name</key>
            <string>Hilton</string>
            <key>value</key>
            <string>01</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Marriott</string>
            <key>value</key>
            <string>02</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Wyndham</string>
            <key>value</key>
            <string>03</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Choice</string>
            <key>value</key>
            <string>04</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Starwood</string>
            <key>value</key>
            <string>05</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Hyatt</string>
            <key>value</key>
            <string>06</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Intercontinental</string>
            <key>value</key>
            <string>07</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Best Western</string>
            <key>value</key>
            <string>08</string>
        </dict>
    </array>
</plist>
